.header-container{
    background-color: #3A3C45;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 14px 12px;
    color: #e6e6e6;
    font-size: 16px;
    font-weight: 600;
}
.feed-header {
    position:absolute;
    left: 40%;
}
.profile-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  color: #555;
  text-align: center;
}
.profile-img{
   width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-container{
    flex-grow: 1;
     display: flex;
}
.nav-container ul{
    display: flex;
    list-style-type: none;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
.nav-container ul li a{
    color: inherit;
    text-decoration: none;
}
.nav-container ul li:hover{
    opacity: 0.75;
}