*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   font-family: Arial, Helvetica, sans-serif;
}
.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1F2128;
}
.border-line{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 12px 0;
}
.or-text {
  position: absolute;
  top: -18px; 
  padding: 0 8px;
  font-size: 14px; 
  margin: 12px;
  color: white;
  background-color: #2F3139; 
}

.divider{
  width: 100%;
  border-top: 1px solid #7b7b7bcc;
}
.form-container{
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #2F3139;
}
.heading{
    color: #E6E6E6;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
}
.input{
    width: 300px;
    padding: 10px 16px;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #222328;
    border: none;
    color: white;
}
input:focus{
    border-color: #3AB0A6;
}
label{
    color: #E6E6E6;
    margin: 12px;
}
.input::placeholder{
     color: #7A7C85;
}
.login-btn{
   width: 300px;
   padding: 8px 16px;
   color: #E6E6E6;
   background-color: #3AB0A6;
   margin-top: 14px;
   font-size: 16px;
   font-weight: 600;
   border-radius: 4px;
   cursor: pointer;
}
.login-btn:hover{
    opacity: 0.75;
}
.signup-link{
    text-align: center;
    margin-top: 12px;
    color: #E6E6E6;
    font-size: 12px;
}
.google-btn{
    width: 300px;
    padding: 8px 8px;
    background-color: rgb(9, 89, 82);
    border-radius: 6px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    color: #E6E6E6;
    border: none;
    cursor: pointer;
}
.google-btn:hover{
    opacity: 0.75;
}

.error{
  color: red;
  font-size: 12px;
}
